body {
  margin: 0px;
  padding: 0px;
  font-family: 'Amatic SC', cursive;
}

body, html {
  height: 100%; /*puts hero image on index page*/
}

.main {
  background-image: url('IMG_4206.jpg');/*hero image*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.topContent {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

#title {
  font-family: 'Megrim', cursive;
  margin: 0px 50px; /*used to change location of title*/
  font-size: 4rem;
  color: #457DB0;
}

#subtitle {
  font-family: 'Megrim', cursive;
  margin: 0px 0px 0px 90px; /*moves subtitle to right by 90px*/
  font-size: 2rem;
  color: #457DB0;
}

.about {
  margin: 50px 20px 0px 20px;
  border: solid #FFF8E8 9px;
  padding: 10px;
  text-align: center;
}

.imgNav {
  display: grid;
  padding-top: 50px; /*spacing*/
  padding-bottom: 50px;
  grid-row-gap: 10vmin;
}

#meals, #dessert { /*imgNav image styles*/
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

#meals {
  background-image: url('IMG_2436.jpg');
}

#dessert {
  background-image: url('IMG_9706.jpg');
}

#meals:hover .txt, #dessert:hover .txt { /*when hovered over each, txt becomes visible*/
  opacity: 1;
}

#meals:hover, #dessert:hover { /*when hovered over each, image becomes dull*/
  opacity: 0.7;
}

a {
  text-decoration: none;
  color: black;
  justify-self: center;
}

.active {
  text-decoration: underline #457DB0; /*blue underline on active page*/
}

.txt {
  text-align: center;
  font-size: 4em;
  align-items: center;
  padding-top: 100px;
  font-weight: bold;
  opacity: 0; /*dont show txt until hovered over*/
}

.nav {
  display: grid;
}

h3 {
  font-size: 1.5rem;
  margin: 10px;
  align-self: flex-end;
  justify-self: center;
}

.grid {
  margin: 0 auto; /*used to center masonry grid*/
}

.grid-item {
  margin-bottom: 15px; /*spacing between images*/
}

img {
  width: 300px; /*size of all images*/
}

h2 {
  margin: 10px;
}

form {
  border: 3px solid #457DB0;
  font-family: Arial;
}

.container {
  background-color: #457DB0;
}

input[type=text], input[type=submit] {
  width: 50%; /*size of input boxes*/
  padding: 7px;
  margin: 8px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #FFF8E8;
  color: #457DB0;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8; /*slightly dull*/
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #457DB0;
  text-align: center;
}

@media screen and (min-width: 600px) { /*in desktop mode*/
  #title {/*more indentations*/
    font-size: 6rem;
    margin: 0px 250px;
  }

  #subtitle {
    font-size: 2.5rem;
    margin: 0px 330px;
  }

  .about {
    margin: 100px 100px 0px 100px;
  }

  .imgNav { /*goes into grid of two col instead of one*/
    grid-template-columns: repeat(2, 1fr);
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 0px 150px;
  }

  h3 {
    font-size: 2rem;
  }

  .nav { /*goes into single line nav menu*/
    display: flex;
    justify-content: space-evenly;
  }

  .grid-item {
    margin-right: 15px;
  }

  img {
    width: 300px;
  }

  .container {
    padding: 10px 150px;
  }
}
